$theme-color:#f88fb5;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#9e9e9e;

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
$large-desktop: '(min-width: 1400px) and (max-width: 1920px)';

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

$normal-desktop: '(min-width: 1025px) and (max-width: 1280px)';

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

$tablet-portrait: '(min-width: 768px) and (max-width: 1024px)';

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

$tablet-landscape: '(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)';

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

$phone-landscape: '(min-width: 481px) and (max-width: 767px)';

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

$phone-portrait: '(min-width: 320px) and (max-width: 480px)';


@mixin respond-to($device){
	@media only screen and #{$device} {
		@content;
	}
}



@include respond-to($phone-portrait){

  .section-content{width: 92%;}

  .header{
    .menu{
      .navbar{
        .navbar-toggler{
          height: 40px;
          border: 1px solid #ddd;

          &:focus{outline: 0;}
          span{
            width: 30px;
            height: 2px;
            background: #947878;
            display: block;
            margin-top: 7px;
          }
        }
        .navbar-collapse{
          background: #ddd;
          text-align: center;
          z-index: 10;
        }
        .navbar-nav{
          .nav-item{
            .nav-link{color: $theme-color;}
          }
        }
      }
    }
  }

  .home-slider{
    #main-slider{
      .slider-text{
        .description{
          line-height: 22px;
          text-align: justify;
        }
      }
      .owl-dots{display: none;}
    }
  }

  .blog-wrapper{
    .side-content{
      .recent-post{
        .post-list{
          ul{
            li{
              .text{
                time {display: block;}
              }
            }
          }
        }
      }
    }
  }

  .newsletter{
    .news-gradient{
      .news-form{width: 95%;}
    }
  }
  
  .instagram{
    .instagram-content{padding-left: 0 !important;}
  }

  .blog-wrapper{width: 92%;}

}

@include respond-to($phone-landscape){

  .header{
    .logo{float: left;}
    .menu{
      .navbar{
        .navbar-toggler{
          position: absolute;
          top: 20px;
          right: 0;
          height: 40px;
          border: 1px solid #ddd;

          &:focus{outline: 0;}
          span{
            width: 30px;
            height: 2px;
            background: #947878;
            display: block;
            margin-top: 7px;
          }
        }
        .navbar-collapse{
          background: #ddd;
          margin-top: 60px;
          text-align: center;
          z-index: 10;
        }
        .navbar-nav{
          .nav-item{
            .nav-link{color: $theme-color;}
          }
        }
      }
    }
  }

  .home-slider{
    #main-slider{
      .owl-dots {display: none;}
    }
  }
}

@include respond-to($tablet-portrait){

  .home-slider{
    #main-slider{
      .owl-dots {
        width: 15%;
        bottom: 262px;
      }
    }
  }
}


@include respond-to($large-desktop){

	
}



