* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  background: #fff;
  color: #333;
  font-family: "PT Sans", sans-serif; }

ul li {
  list-style: none; }

.dropdown:hover > .dropdown-menu {
  display: block; }

a {
  color: #000; }
  a:hover, a:visited, a:focus {
    text-decoration: none;
    background-color: transparent;
    outline: 0; }

.zoomIn:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.tbtn {
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.btn-fill {
  background: #f88fb5;
  border: 2px solid #f88fb5;
  color: #fff; }
  .btn-fill:hover {
    background: #000;
    border: 2px solid #000;
    color: #fff;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

.btn-outline {
  background: transparent;
  border: 1px solid #b5b5b5;
  color: #757575;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .btn-outline:hover {
    background: #757575;
    border: 1px solid #b5b5b5;
    color: #fff !important; }

.section-padding {
  padding: 5% 0; }

.section-header h5 {
  border-bottom: 1px solid #757575;
  border-left: 7px solid #757575;
  padding-left: 5px;
  text-transform: capitalize; }

.section-content {
  width: 85%;
  margin: 0 auto; }

.tcolor {
  color: #f88fb5 !important; }

.header {
  background: #fff; }
  .header .menu {
    height: 50px;
    line-height: 32px; }
    .header .menu .navbar {
      padding: 0; }
      .header .menu .navbar .navbar-nav .nav-item .nav-link {
        color: #333;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
        text-transform: capitalize; }
      .header .menu .navbar .navbar-nav .nav-item .active {
        color: #9e9e9e; }
      .header .menu .navbar .navbar-nav .nav-item #search .modal-content {
        height: 155px;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity=90); }
        .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control {
          border: 0;
          border-bottom: 1.5px solid #000;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0;
          background-clip: padding-box; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control.placeholder {
            font-size: 12px; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control:-moz-placeholder {
            font-size: 12px; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control::-webkit-input-placeholder {
            font-size: 12px; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control:focus {
            box-shadow: none; }
        .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group button {
          background: transparent;
          border: 0;
          border-bottom: 1.5px solid #000;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0;
          background-clip: padding-box; }

/* CSS For Home Slider Section */
.home-slider #main-slider {
  position: relative;
  background: #f6f7fb; }
  .home-slider #main-slider .slider-text .date {
    font-size: 14px;
    font-weight: 400; }
    .home-slider #main-slider .slider-text .date a {
      color: #f88fb5;
      letter-spacing: 0.5px; }
      .home-slider #main-slider .slider-text .date a:hover {
        color: #333;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
  .home-slider #main-slider .slider-text h5 a {
    color: #333; }
    .home-slider #main-slider .slider-text h5 a:hover {
      color: #333; }
  .home-slider #main-slider .slider-text .description {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 30px; }
  .home-slider #main-slider .owl-dots {
    width: 10%;
    display: block;
    position: absolute;
    bottom: 200px;
    right: 0; }
    .home-slider #main-slider .owl-dots .owl-dot, .home-slider #main-slider .owl-dots .owl-dot span {
      width: 35px;
      height: 35px;
      background: #f2f2f2;
      border-radius: 100%;
      display: block;
      float: left;
      margin-right: 10px;
      position: relative; }
      .home-slider #main-slider .owl-dots .owl-dot span {
        margin: 0; }
  .home-slider #main-slider .owl-dots .owl-dot.active, .home-slider #main-slider .owl-dots .owl-dot span.active {
    background-color: transparent;
    border: 1px solid #f88fb5; }
    .home-slider #main-slider .owl-dots .owl-dot.active span, .home-slider #main-slider .owl-dots .owl-dot span.active span {
      width: 20px;
      height: 20px;
      display: block;
      left: 7px;
      top: 7px;
      position: absolute;
      margin: auto;
      background-color: #f88fb5;
      border-radius: 100%; }

/* CSS For Blog Post Section */
.blog-wrapper {
  width: 85%;
  margin: 0 auto; }
  .blog-wrapper .main-content .post-category .text .category-date {
    font-size: 13px; }
    .blog-wrapper .main-content .post-category .text .category-date a {
      color: #f88fb5; }
      .blog-wrapper .main-content .post-category .text .category-date a:hover {
        color: #000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
  .blog-wrapper .main-content .post-category .text .title h4 a {
    font-size: 19px; }
    .blog-wrapper .main-content .post-category .text .title h4 a:hover {
      color: #f88fb5;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .blog-wrapper .main-content .post-category .text .social-link a {
    font-size: 12px;
    margin-right: 5px; }
    .blog-wrapper .main-content .post-category .text .social-link a:hover {
      color: #f88fb5;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .blog-wrapper .side-content .header .hbar {
    background: #f88fb5;
    width: 15%;
    height: 1px; }
  .blog-wrapper .side-content .profile {
    background: #f6f7fb; }
  .blog-wrapper .side-content .recent-post .post-list ul li {
    border-bottom: 1px solid #ddd; }
    .blog-wrapper .side-content .recent-post .post-list ul li .photo {
      width: 35%; }
    .blog-wrapper .side-content .recent-post .post-list ul li .text {
      margin-top: -5px; }
      .blog-wrapper .side-content .recent-post .post-list ul li .text a:hover {
        color: #f88fb5;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .blog-wrapper .side-content .recent-post .post-list ul li .text time {
        font-size: 13px; }
  .blog-wrapper .side-content .instagram .col {
    padding: 0; }

.newsletter {
  height: 250px;
  background-image: url(../images/newsletter-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .newsletter .news-gradient {
    height: 250px;
    padding-top: 95px;
    /* fallback/image non-cover color */
    background: rgba(248, 143, 181, 0.95);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, rgba(248, 143, 181, 0.95) 100%, rgba(248, 143, 181, 0.95));
    /* Safari 4+, Chrome 1+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(248, 143, 181, 0.95)), color-stop(, rgba(248, 143, 181, 0.95)));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, rgba(248, 143, 181, 0.95) 100%, rgba(248, 143, 181, 0.95));
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, rgba(248, 143, 181, 0.95) 100%, rgba(248, 143, 181, 0.95));
    /* IE10+ */
    background: -ms-linear-gradient(left, rgba(248, 143, 181, 0.95) 100%, rgba(248, 143, 181, 0.95));
    /* Standard */
    background: linear-gradient(to right, rgba(248, 143, 181, 0.95) 100%, rgba(248, 143, 181, 0.95));
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 ); }
    .newsletter .news-gradient .news-form {
      width: 45%;
      margin: 0 auto; }
      .newsletter .news-gradient .news-form .form-control {
        height: 60px;
        border-radius: 0; }
      .newsletter .news-gradient .news-form button {
        background: #000;
        border-radius: 0;
        color: #fff;
        padding: 0 40px; }
        .newsletter .news-gradient .news-form button:hover {
          background: #fff;
          border-left: 1px solid #f88fb5;
          color: #f88fb5;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }

.footer {
  height: 60px;
  color: #000;
  padding-top: 20px;
  text-align: center; }
  .footer p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize; }
    .footer p a {
      color: #000; }

/*# sourceMappingURL=theme.css.map */
