* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  background: #fff;
  color: #333;
  font-family: "PT Sans", sans-serif; }

ul li {
  list-style: none; }

.dropdown:hover > .dropdown-menu {
  display: block; }

a {
  color: #000; }
  a:hover, a:visited, a:focus {
    text-decoration: none;
    background-color: transparent;
    outline: 0; }

.zoomIn:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.tbtn {
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.btn-fill {
  background: #f88fb5;
  border: 2px solid #f88fb5;
  color: #fff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .btn-fill:hover {
    background: #000;
    border: 2px solid #000;
    color: #fff; }

.btn-outline {
  background: transparent;
  border: 1px solid #b5b5b5;
  color: #757575;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .btn-outline:hover {
    background: #757575;
    border: 1px solid #b5b5b5;
    color: #fff !important; }

.section-padding {
  padding: 5% 0; }

.section-header h5 {
  border-bottom: 1px solid #757575;
  border-left: 7px solid #757575;
  padding-left: 5px;
  text-transform: capitalize; }

.section-content {
  width: 85%;
  margin: 0 auto; }

.tcolor {
  color: #f88fb5 !important; }

.header {
  background: #fff; }
  .header .menu {
    height: 50px;
    line-height: 32px; }
    .header .menu .navbar {
      padding: 0; }
      .header .menu .navbar .navbar-nav .nav-item .nav-link {
        color: #333;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
        text-transform: capitalize; }
      .header .menu .navbar .navbar-nav .nav-item .active {
        color: #9e9e9e; }
      .header .menu .navbar .navbar-nav .nav-item #search .modal-content {
        height: 155px;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity=90); }
        .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control {
          border: 0;
          border-bottom: 1.5px solid #000;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0;
          background-clip: padding-box; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control.placeholder {
            font-size: 12px; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control:-moz-placeholder {
            font-size: 12px; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control::-webkit-input-placeholder {
            font-size: 12px; }
          .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group .form-control:focus {
            box-shadow: none; }
        .header .menu .navbar .navbar-nav .nav-item #search .modal-content .modal-body .input-group button {
          background: transparent;
          border: 0;
          border-bottom: 1.5px solid #000;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          border-radius: 0;
          background-clip: padding-box; }

/* CSS For Home Slider Section */
.home-slider #main-slider {
  position: relative;
  background: #f6f7fb; }
  .home-slider #main-slider .slider-text .date {
    font-size: 14px;
    font-weight: 400; }
    .home-slider #main-slider .slider-text .date a {
      color: #f88fb5;
      letter-spacing: 0.5px; }
      .home-slider #main-slider .slider-text .date a:hover {
        color: #333;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
  .home-slider #main-slider .slider-text h5 a {
    color: #333; }
    .home-slider #main-slider .slider-text h5 a:hover {
      color: #333; }
  .home-slider #main-slider .slider-text .description {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 30px; }
  .home-slider #main-slider .owl-dots {
    width: 10%;
    display: block;
    position: absolute;
    bottom: 200px;
    right: 0; }
    .home-slider #main-slider .owl-dots .owl-dot, .home-slider #main-slider .owl-dots .owl-dot span {
      width: 35px;
      height: 35px;
      background: #f2f2f2;
      border-radius: 100%;
      display: block;
      float: left;
      margin-right: 10px;
      position: relative; }
      .home-slider #main-slider .owl-dots .owl-dot span {
        margin: 0; }
  .home-slider #main-slider .owl-dots .owl-dot.active, .home-slider #main-slider .owl-dots .owl-dot span.active {
    background-color: transparent;
    border: 1px solid #f88fb5; }
    .home-slider #main-slider .owl-dots .owl-dot.active span, .home-slider #main-slider .owl-dots .owl-dot span.active span {
      width: 20px;
      height: 20px;
      display: block;
      left: 7px;
      top: 7px;
      position: absolute;
      margin: auto;
      background-color: #f88fb5;
      border-radius: 100%; }

/* CSS For Blog Post Section */
.blog-wrapper {
  width: 85%;
  margin: 0 auto; }
  .blog-wrapper .main-content .post-category .text .category-date {
    font-size: 13px; }
    .blog-wrapper .main-content .post-category .text .category-date a {
      color: #f88fb5; }
      .blog-wrapper .main-content .post-category .text .category-date a:hover {
        color: #000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
  .blog-wrapper .main-content .post-category .text .title h4 a {
    font-size: 19px; }
    .blog-wrapper .main-content .post-category .text .title h4 a:hover {
      color: #f88fb5;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .blog-wrapper .main-content .post-category .text .social-link a {
    font-size: 12px;
    margin-right: 5px; }
    .blog-wrapper .main-content .post-category .text .social-link a:hover {
      color: #f88fb5;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .blog-wrapper .side-content {
    position: sticky;
    top: 0; }
    .blog-wrapper .side-content .latest-post {
      background: #fff;
      box-shadow: 0 0 2px #ddd; }
      .blog-wrapper .side-content .latest-post .lpost-item {
        border-bottom: 1px solid #ddd; }
        .blog-wrapper .side-content .latest-post .lpost-item .lpost-photo {
          width: 100%; }
        .blog-wrapper .side-content .latest-post .lpost-item .lpost-text h6 a:hover {
          color: #000; }
        .blog-wrapper .side-content .latest-post .lpost-item .lpost-text time {
          color: #757575;
          font-size: 10px;
          text-transform: uppercase; }
    .blog-wrapper .side-content .tag {
      background: #fff;
      box-shadow: 0 0 2px #ddd; }
      .blog-wrapper .side-content .tag .tag-link a {
        display: inline-block;
        margin-top: 5px;
        padding: 3px 10px;
        text-transform: capitalize; }
    .blog-wrapper .side-content .instagram {
      background: #fff;
      box-shadow: 0 0 2px #ddd; }
      .blog-wrapper .side-content .instagram .instagram-content {
        width: 95%;
        padding-left: 6px; }
        .blog-wrapper .side-content .instagram .instagram-content .row {
          margin-bottom: 5px; }
          .blog-wrapper .side-content .instagram .instagram-content .row .col-4 {
            padding-right: 0;
            padding-left: 10px; }
    .blog-wrapper .side-content .category {
      background: #fff;
      box-shadow: 0 0 2px #ddd; }
      .blog-wrapper .side-content .category .category-list ul li {
        border-bottom: 1px solid #ddd; }
        .blog-wrapper .side-content .category .category-list ul li a {
          color: #000;
          display: block;
          font-size: 13px;
          margin-left: 15px;
          padding: 7px 0;
          text-transform: uppercase; }
          .blog-wrapper .side-content .category .category-list ul li a span {
            color: #757575;
            margin-left: 15px; }
          .blog-wrapper .side-content .category .category-list ul li a:before {
            content: '';
            width: 5px;
            height: 5px;
            background: #757575;
            display: inline-block;
            margin: 0 10px 1px -14px; }

.footer {
  height: 60px;
  color: #000;
  padding-top: 20px;
  text-align: center; }
  .footer p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize; }
    .footer p a {
      color: #000; }

/*# sourceMappingURL=theme.css.map */
