
// Custom Fonts
// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$theme-font: 'PT Sans', sans-serif;
$theme-color:#f88fb5;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#9e9e9e;

// Start Sass Mixins

@mixin animation($avalue) {
  -webkit-animation: #{$avalue};
  -moz-animation: #{$avalue};
  -o-animation: #{$avalue};
  animation: #{$avalue};
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box; 
}

@mixin border-radius-s($tl, $tr, $br, $bl) {
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin keyframes($aname) {
  @-webkit-keyframes #{$aname} {
    @content;
  }
  @-o-keyframes #{$aname} {
    @content;
  }
  @-moz-keyframes #{$aname} {
    @content;
  }
  @keyframes #{$aname} {
    @content;
  }
}

@mixin linear-gradient($sc,$sp,$ec,$ep:null) {
  /* fallback/image non-cover color */
  background: $sc;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $sc $sp, $ec $ep);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($sp, $sc), color-stop($ep, $ec));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, $sc $sp, $ec $ep);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $sc $sp, $ec $ep);

  /* IE10+ */
  background: -ms-linear-gradient(left, $sc $sp, $ec $ep);

  /* Standard */
  background: linear-gradient(to right, $sc $sp, $ec $ep);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 );
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin scale ($svalue) {
	@include transform(scale($svalue));
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin transition($property,$time,$effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
  	-ms-transition: $property $time $effect;
	-o-transition: $property $time $effect;
  	transition: $property $time $effect;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
   	-moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
  	transform: $transforms;
}

@mixin translate ($x,$y) {
	@include transform(translate($x,$y));
}

// *********************************************

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {overflow-x: hidden;}

body {
	background: #fff;
  color: #333;
  font-family:$theme-font;
	// overflow-x: hidden;
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a{
	color:$bcolor;

	&:hover, &:visited, &:focus {
	  	text-decoration: none;
		background-color: transparent;
		outline: 0;
	}
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}

.tbtn{
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-fill{
	background: $theme-color;
    border: 2px solid $theme-color;
    color: $wcolor;

    &:hover{
    	background: $bcolor;
    	border: 2px solid $bcolor;
    	color: $wcolor;
      @include transition(all,0.5s,ease-in);
    }
}

.btn-outline{
	background: transparent;
    border: 1px solid #b5b5b5;
    color: #757575;
    @include transition(all,0.4s,ease-in);

    &:hover{
    	background: #757575;
    	border: 1px solid #b5b5b5;
    	color: $wcolor !important;
    }
}

.section-padding{padding: 5% 0;}

.section-header{

	h5{
		border-bottom: 1px solid #757575;
    	border-left: 7px solid #757575;
    	padding-left: 5px;
     	text-transform: capitalize;
	}
}

.section-content{
    width: 85%;
    margin: 0 auto;
}

.tcolor{color:$theme-color !important;}


// CSS For Header Section

.header{
	background: $wcolor;
	

    .menu{
	    height: 50px;
	    line-height: 32px;
    	.navbar{
    		padding: 0;
    		.navbar-nav{
    			.nav-item{
    				.nav-link{
    					color: #333;
    					cursor: pointer;
					    font-size: 14px;
					    font-weight: 600;
					    padding-right: 15px;
					    padding-left: 15px;
					    text-transform: capitalize;
    				}

    				.active{color:$gcolor;}

            #search{
              .modal-content{
                height: 155px;
                border: 0;
                @include border-radius(0);
                @include opacity(0.9);

                .modal-body{
                  .input-group{
                    .form-control{
                      border: 0;
                        border-bottom: 1.5px solid $bcolor;
                        @include border-radius(0);

                        @include placeholder{
                          font-size:12px;
                        }

                        &:focus{box-shadow: none;}
                    }

                    button{
                      background: transparent;
                        border: 0;
                        border-bottom: 1.5px solid $bcolor;
                        @include border-radius(0);
                    }
                  }
                }
              }
            }
    			}
    		}
    	}
    }
}

// ************************************

/* CSS For Home Slider Section */

.home-slider{
	#main-slider{
    position: relative;
		background:#f6f7fb;

    .slider-text{
      .date{
        font-size: 14px;
        font-weight: 400;

        a{
          color: $theme-color;
          letter-spacing: 0.5px;

          &:hover{
            color: #333;
            @include transition(all,0.6s,ease);
          }
        }
      }

      h5{
        a{
          color: #333;

          &:hover{color: #333;}
        }
      }

      .description{
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 30px;
      }
    }

    .owl-dots{
      width: 10%;
      display: block;
      position: absolute;
      bottom: 200px;
      right: 0;

      .owl-dot {
        width: 35px;
        height: 35px;
        background: #f2f2f2;
        border-radius: 100%;
        display: block;
        float: left;
        margin-right: 10px;
        position: relative;

        span{
          @extend .owl-dot;
          margin: 0;
        }
      }
    }

    .owl-dots .owl-dot.active{
      background-color: transparent;
      border: 1px solid $theme-color;

      span {
        width: 20px;
        height: 20px;
        display: block;
        left: 7px;
        top: 7px;
        position: absolute;
        margin: auto;
        background-color: #f88fb5;
        border-radius: 100%;
      }
    }
	}
}

// ************************************

/* CSS For Blog Post Section */

.blog-wrapper{
	width: 85%;
  margin: 0 auto;

  .main-content{
  	.post-category{
      .text{
        .category-date{
          font-size: 13px;
          a{
            color:$theme-color;

            &:hover{
              color:$bcolor;
              @include transition(all,.5s,ease);
            }
          }
        }
        .title{
          h4{
            a{
              font-size: 19px;
              &:hover{
                color:$theme-color;
                @include transition(all,.5s,ease);
              }
            }
          }
        }
        .social-link{
          a{
            font-size: 12px;
            margin-right: 5px;
            &:hover{
              color:$theme-color;
              @include transition(all,.5s,ease);
            }
          }
        }
      }
    }
  }

  .side-content{
    .header{
      .hbar{
        background: $theme-color;
        width: 15%;
        height: 1px;
      }
    }
    .profile{
      background: #f6f7fb;
    }
    .recent-post{
      .post-list{
        ul{
          li{
            border-bottom: 1px solid #ddd;

            .photo{width: 35%;}
            .text{
              margin-top: -5px;
              a{
                &:hover{
                  color:$theme-color;
                  @include transition(all,.5s,ease);
                }
              }

              time {font-size: 13px;}
            }
          }
        }
      }
    }
    .instagram{
      .col{
        padding: 0;
      }
    }
  }
}

// ************************************


// CSS For Newsletter Section

.newsletter{
  height: 250px;
  background-image: url(../images/newsletter-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .news-gradient{
    height: 250px;
    padding-top: 95px;
    @include linear-gradient(rgba(248, 143, 181, 0.95),100%,rgba(248, 143, 181, 0.95));

    .news-form{
      width: 45%;
      margin: 0 auto;

      .form-control{
        height: 60px;
        border-radius: 0;
      }

      button{
        background: $bcolor;
        border-radius: 0;
        color: $wcolor;
        padding: 0 40px;

        &:hover{
          background: $wcolor;
          border-left: 1px solid $theme-color;
          color: $theme-color;
          @include transition(all,.4s,ease);
        }
      }
    }
  }
  
}

// ************************************

// CSS For Footer Social Section



// ************************************


// CSS For Footer Section

@include keyframes(pulse){
  0%{
    @include scale(1.0)
  }

  50%{
    @include scale(0.9)
  }

  100%{
    @include scale(1.0)
  }
}

.footer{
    // height: 60px;
    background: $bcolor;
    color: $wcolor;
    padding-top: 20px;
    text-align: center;

    .social{
      a{
        width: 45px;
        height: 45px;
        border: 1px solid #4d4d4d;
        border-radius: 50%;
        color: #a5a4a4;
        display: inline-block;
        line-height: 45px;
        margin-left: 10px;

        &:hover{
          @include animation('pulse 1s');
          @include transition(all,0.3s,ease);
        }
      }
    }

    p{
	    font-size: 14px;
	    font-weight: 400;
    	text-transform: capitalize;

    	a {color:$theme-color;}
    }
}

// ************************************

