
// Custom Fonts
// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$theme-font: 'PT Sans', sans-serif;
$theme-color:#f88fb5;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#9e9e9e;

// Start Sass Mixins

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box; 
}

@mixin border-radius-s($tl, $tr, $br, $bl) {
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin linear-gradient($sc,$sp,$ec,$ep:null) {
  /* fallback/image non-cover color */
  background: $sc;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $sc $sp, $ec $ep);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($sp, $sc), color-stop($ep, $ec));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, $sc $sp, $ec $ep);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $sc $sp, $ec $ep);

  /* IE10+ */
  background: -ms-linear-gradient(left, $sc $sp, $ec $ep);

  /* Standard */
  background: linear-gradient(to right, $sc $sp, $ec $ep);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 );
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin scale ($svalue) {
	@include transform(scale($svalue));
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin transition($property,$time,$effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
  	-ms-transition: $property $time $effect;
	-o-transition: $property $time $effect;
  	transition: $property $time $effect;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
   	-moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
  	transform: $transforms;
}

@mixin translate ($x,$y) {
	@include transform(translate($x,$y));
}

// *********************************************

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {overflow-x: hidden;}

body {
	background: #fff;
  color: #333;
  font-family:$theme-font;
	// overflow-x: hidden;
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a{
	color:$bcolor;

	&:hover, &:visited, &:focus {
	  	text-decoration: none;
		background-color: transparent;
		outline: 0;
	}
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}

.tbtn{
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-fill{
	background: $theme-color;
    border: 2px solid $theme-color;
    color: $wcolor;
    @include transition(all,0.4s,ease-out);

    &:hover{
    	background: $bcolor;
    	border: 2px solid $bcolor;
    	color: $wcolor;
    }
}

.btn-outline{
	background: transparent;
    border: 1px solid #b5b5b5;
    color: #757575;
    @include transition(all,0.4s,ease-out);

    &:hover{
    	background: #757575;
    	border: 1px solid #b5b5b5;
    	color: $wcolor !important;
    }
}

.section-padding{padding: 5% 0;}

.section-header{

	h5{
		border-bottom: 1px solid #757575;
    	border-left: 7px solid #757575;
    	padding-left: 5px;
     	text-transform: capitalize;
	}
}

.section-content{
    width: 85%;
    margin: 0 auto;
}

.tcolor{color:$theme-color !important;}


// CSS For Header Section

.header{
	background: $wcolor;
	

    .menu{
	    height: 50px;
	    line-height: 32px;
    	.navbar{
    		padding: 0;
    		.navbar-nav{
    			.nav-item{
    				.nav-link{
    					color: #333;
    					cursor: pointer;
					    font-size: 14px;
					    font-weight: 600;
					    padding-right: 15px;
					    padding-left: 15px;
					    text-transform: capitalize;
    				}

    				.active{color:$gcolor;}
    			}
    		}
    	}
    }
}

// ************************************

/* CSS For Home Slider Section */

.home-slider{
	#main-slider{
    position: relative;
		background:#f6f7fb;

    .owl-dots{
      .owl-dot{
        width: 35px;
        height: 35px;
        display: block;
        border-radius: 100%;
        background: #f2f2f2;
        float: left;
        margin-right: 10px;
        position: relative;

        .active{
          background: transparent;
          border: 1px solid $theme-color;

          span{
            width: 20px;
            height: 20px;
            display: block;
            left: 7px;
            top: 7px;
            position: absolute;
            margin: auto;
            background-color: $theme-color !important;
            border-radius: 100%;
          }
        }
      }
    }
	}
}

// ************************************

/* CSS For Blog Post Section */

.blog-wrapper{
	width: 80%;
    margin: 0 auto;

    .main-content{
    	.post{
    		position: relative;
    		background:$wcolor;
    		@include box-shadow(0 0 2px #ddd);

    		.post-photo{
    			height: 300px;
    			overflow: hidden;
			    position: relative;

    			img{
    				max-width: none;
				    width: calc(100% + 50px);
				    @include opacity(1);
				    @include transition(all,0.5s,ease);
    			}
    		}

    		.post-text{
			    text-align: center;

			    .post-title{
			    	h2 {font-weight: 600;}
			    }

			    .post-category{
			    	label{
			    		padding: 0 5px;

			    		a{
			    			color: $wcolor;
    						font-size: 12px;
			    		}
			    	}
			    }

			    .post-info{
		    	    color: #757575;
    				font-size: 12px;

    				a {color: #757575;}
			    }

			    .post-description {
				    text-align: left;
				}

				.post-footer{
					a {
						@include border-radius(3px);
						padding: 8px;
						text-transform: uppercase;
					}

					.post-button{
						a {font-size: 12px;}
					}

					.post-share{
						ul{
							li {display: inline-block;}
						}
					}
				}
    		}

    		&:hover{
    			.post-photo{
    				img {
    					@include opacity(.7);
						@include transition(all,0.5s,ease);
						transform: translate3d(-40px,0,0);
    				}
    			}
    		}
    	}
    }

    .side-content{
    	position: sticky;
    	top: 0;
    	.latest-post{
    		background: $wcolor;
    		box-shadow: 0 0 2px #ddd;

    		.lpost-item{
    			border-bottom: 1px solid #ddd;
    			.lpost-photo{
    				width: 100%;
    			}

    			.lpost-text{
    				h6{
    					a{
    						&:hover{color:$bcolor;}
    					}
    				}

    				time{
					    color: #757575;
					    font-size: 10px;
					    text-transform: uppercase;
    				}
    			}
    		}
    	}

    	.tag{
    		background: $wcolor;
    		box-shadow: 0 0 2px #ddd;

    		.tag-link{
    			a{
    				display: inline-block;
				    margin-top: 5px;
				    padding: 3px 10px;
				    text-transform: capitalize;
    			}
    		}
    	}

    	.instagram{
    		background: $wcolor;
    		box-shadow: 0 0 2px #ddd;

    		.instagram-content{
    			width: 95%;
    			padding-left: 6px;

    			.row{
    				margin-bottom: 5px;
	    			.col-4{
	    				padding-right:0;
	    				padding-left:10px;
	    			}
	    		}
    		}
    	}

    	.category{
    		background: $wcolor;
    		box-shadow: 0 0 2px #ddd;

    		.category-list{
    			ul{
    				li{
    					border-bottom: 1px solid #ddd;
    					a{
						    color: $bcolor;
						    display: block;
						    font-size: 13px;
						    margin-left: 15px;
						    padding: 7px 0;
						    text-transform: uppercase;

						    span{
						    	color:#757575;
						    	margin-left: 15px;
						    }

						    &:before{
						    	content:'';
					    	    width: 5px;
							    height: 5px;
							    background: #757575;
							    display: inline-block;
						        margin: 0 10px 1px -14px;
						    }
	    				}
    				}
    			}
    		}
    	}
    }
}

// ************************************


// CSS For Address Section



// ************************************

// CSS For Footer Social Section



// ************************************


// CSS For Footer Section

.footer{
    height: 60px;
    color: $bcolor;
    padding-top: 20px;
    text-align: center;

    p{
	    font-size: 14px;
	    font-weight: 400;
    	text-transform: capitalize;

    	a{color:$bcolor;}
    }
}

// ************************************

